@tailwind base;
@tailwind utilities;
@tailwind components;

*,
*::before,
*::after {
  margin: 0;
  z-index: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body,
.app,
#root {
  min-width: 320px;
  min-height: 100vh;
}

a {
  cursor: pointer;
  text-decoration: none;
}
