@tailwind base;
@tailwind utilities;
@tailwind components;

*,
*::before,
*::after {
  margin: 0;
  z-index: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body,
.app,
#root {
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

a {
  cursor: pointer;
  text-decoration: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  -webkit-text-fill-color: rgb(245, 245, 245);
  -webkit-box-shadow: 0 0 0px 1000px rgb(18, 18, 18) inset;
}

.scrollbar-hidden {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

.active-story-gradient {
  background-image: conic-gradient(
    #ffd600,
    #ff7a00,
    #ff0069,
    #d300c5,
    #7638fa,
    #ffd600
  );
}

.custom-radio,
.custom-checkbox {
  appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.custom-radio:checked::before {
  top: 50%;
  left: 50%;
  width: 70%;
  content: "";
  height: 70%;
  position: absolute;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

textarea {
  resize: none;
}
